{% extends "core/layout.html" %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Bienvenido:</h5>
                    Bienvenido a nuestro centro de recursos. Aquí encontrarás toda la información necesaria para aprovechar al máximo nuestra aplicación, desde guías de uso hasta documentación técnica.
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Guías de Uso</h5>
                                <p class="card-text">
                                    Explora nuestras guías de uso para aprender a navegar y utilizar las funciones clave de nuestra aplicación. Estos recursos están diseñados para ayudarte a obtener el máximo rendimiento de forma rápida y eficiente.
                                </p>
                                <a href="#" class="card-link">Video Tutoriales</a>
                                <a href="#" class="card-link">Documentación de Usuario</a>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-body">
                                <h5 class="card-title">Documentación Técnica</h5>
                                <p class="card-text">
                                    Encuentra toda la documentación técnica necesaria para desarrolladores y administradores de sistemas. Esta sección incluye detalles técnicos, APIs y guías de integración.
                                </p>
                                <a href="#" class="card-link">APIs y Referencias</a>
                                <a href="#" class="card-link">Guías de Integración</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">Soporte y Asistencia</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">¿Necesitas ayuda?</h6>
                                <p class="card-text">Nuestro equipo de soporte está listo para ayudarte con cualquier pregunta o problema que puedas tener. No dudes en contactarnos para obtener asistencia rápida y eficaz.</p>
                                <a href="#" class="btn btn-primary">Contactar Soporte</a>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Novedades y Actualizaciones</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">Mantente Informado</h6>
                                <p class="card-text">Descubre las últimas novedades y actualizaciones de nuestra aplicación. Estamos constantemente mejorando y añadiendo nuevas características para mejorar tu experiencia.</p>
                                <a href="#" class="btn btn-primary">Explorar Novedades</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}