{% extends "core/layout.html" %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Bienvenido:</h5>
                    Bienvenido a nuestro centro de recursos. Aquí encontrarás toda la información necesaria para aprovechar al máximo nuestra aplicación, desde guías de uso hasta documentación técnica.
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Guías de Uso</h5>
                                <p class="card-text">
                                    Explora nuestras guías de uso para aprender a navegar y utilizar las funciones clave de nuestra aplicación. Estos recursos están diseñados para ayudarte a obtener el máximo rendimiento de forma rápida y eficiente.
                                </p>
                                <a href="#" class="card-link">Video Tutoriales</a>
                                <a href="#" class="card-link">Documentación de Usuario</a>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-body">
                                <h5 class="card-title">Documentación Técnica</h5>
                                <p class="card-text">
                                    Encuentra toda la documentación técnica necesaria para desarrolladores y administradores de sistemas. Esta sección incluye detalles técnicos, APIs y guías de integración.
                                </p>
                                <a href="#" class="card-link">APIs y Referencias</a>
                                <a href="#" class="card-link">Guías de Integración</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="m-0">Soporte y Asistencia</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">¿Necesitas ayuda?</h6>
                                <p class="card-text">Nuestro equipo de soporte está listo para ayudarte con cualquier pregunta o problema que puedas tener. No dudes en contactarnos para obtener asistencia rápida y eficaz.</p>
                                <a href="#" class="btn btn-primary">Contactar Soporte</a>
                            </div>
                        </div>
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h5 class="m-0">Novedades y Actualizaciones</h5>
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">Mantente Informado</h6>
                                <p class="card-text">Descubre las últimas novedades y actualizaciones de nuestra aplicación. Estamos constantemente mejorando y añadiendo nuevas características para mejorar tu experiencia.</p>
                                <a href="#" class="btn btn-primary">Explorar Novedades</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <div class="navbar-nav">
            <a href="#" class="nav-link d-flex align-items-center">
                <img src="/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f3be96254a381fd6bdc1d8c3a8570d978823a18a/8ebfa77e8cb74c628ce7a15f95e14edf7da89009.png" class="img-circle elevation-2" alt="Logo" height="40">
            </a>
        </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Bienvenido a la mesa de ayuda</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Iniciar sesión para enviar tickets</h3>
                            </div>
                            <div class="card-body">
                                <form novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="workEmail">Correo de trabajo</label>
                                        <input type="email" class="form-control" id="workEmail" placeholder="Correo de trabajo">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="container-fluid text-center">
            <p>Esta mesa de ayuda está impulsada por Spiceworks. No utilizamos ninguna información personal que añada a su(s) ticket(s). Utilizamos su información personal para proporcionar los servicios de la mesa de ayuda.</p>
            <p>
                <a href="https://www.spiceworks.com/privacy/" class="mr-2">Política de Privacidad</a>
                <span>|</span>
                <a href="https://www.spiceworks.com/terms/" class="ml-2 mr-2">Términos y Condiciones</a>
                <span>|</span>
                <a href="#" onclick="window.zdconsent.showConsentTool(event);" class="ml-2">AdChoices</a>
            </p>
        </div>
    </footer>
</div>



{% endblock content %}